@import "vue-multiselect/dist/vue-multiselect.min.css";

.custom-container {
  max-width: 1560px;
  padding: 60px;
  margin: auto;
}

.header .navbar {
  background-color: #4b7eb6 !important;
  .navbar-brand {
    color: white;
  }
  .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: white;
  }
}

.custom-input {
  width: 48% !important;
  text-align: left;
  margin-bottom: 12px;
}

.input-error {
  color: #dc3545;
  margin-top: 6px;
}

.registration-tab {
  background-color: white;
  color: black;
  padding: 12px 24px;
  border: 2px solid black;
  border-radius: 6px;
}

.registration-tab:hover {
  cursor: pointer;
}

.registration-tab__active {
  background-color: #4b7eb6;
  border-color: #4b7eb6;
  color: white;
}

.btn {
  background-color: rgb(52, 204, 255);
  border-color: rgb(52, 204, 255);
}

.btn:hover {
  background-color: rgb(32, 175, 223);
  border-color: rgb(32, 175, 223);
}

.button .btn {
  padding: 12px 36px !important;
}

.multiselect {
  height: calc(1.5em + 0.75rem + 2px);
}
